<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/includes::head">
</head>

<body>
   <nav th:replace="fragments :: nav">
   </nav>

   <br />
   <div class="container-fluid" style="padding: 5% 20% ">
      <form id="msgForm" th:fragment="form" method="POST">
         <h2 th:text=" 'Write a message to ' + ${userPage?.getName()}"></h2>
         Message
         <br />
         <textarea class="input form-control" rows="10" name="content" placeholder="Type your message here..."></textarea>
         <br />

         <input class="input form-control" type="hidden" name="id" th:value="${userPage?.getId()}">
         <button class="input form-control btn btn-success" type="submit" value="Send" style="width: 10%; float: right;">Send</button>
      </form>
   </div>

   <div>
      <script>
         $(document).ready(function () {
            $('#listingTable').DataTable();
            $('.dataTables_length').addClass('bs-select');
            $('.pagination').addClass('pg-teal');
         });
      </script>
   </div>
   <div th:replace="fragments/scripts::scripts">
   </div>
   <div th:replace="fragments/scripts::tableScripts">
   </div>
</body>

</html>