<html>
    <head th:replace="fragments/includes :: head">
    </head>

    <body>
        <nav th:replace="fragments :: nav">
        </nav>
        <div class="container">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5 th:text="${listing.getType()}"></h5>
                    </div>
                    <div class="col-6 text-right" th:if="${listing.getUser() == user}">
                        <a th:href="@{/listing/{id}/delete(id=${listing.id})}" class="card-link"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <p>Quantity: <b th:text="${listing.getCount()}"></b></p>

                <p>Weight: <b th:text="${listing.getWeightString()}"></b></p>

                <div class="row">
                    <div class="col-6">
                        <a th:href="@{/user/{id}(id=${listing.getUser().getId()})}" th:text="${listing.getUser().getName()}" class="card-link"></a>
                    </div>
                    <div class="col-6 text-right">
                        <a th:href="@{/user/{id}(id=${listing.getUser().getId()})}" class="card-link"><i class="material-icons">chat</i></a>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </body>
</html>
