<table th:fragment="table" id="listingTable" class="table table-striped table-bordered table-sm">
        <thead>
            <th class="th-sm">User</th>
            <th class="th-sm">Postal Code</th>
            <th class="th-sm">Selling</th>
            <th class="th-sm">Weight</th>
            <th class="th-sm">Count</th>
        </thead>

        <tbody id="listingTableBody">
                <tr th:each="listing, index: ${listings}">
                    <span th:replace="listing/each::listing"></span>
                </tr>
        </tbody>

</table>
