<html>
    <head th:replace="fragments/includes :: head">
    </head>

    <body>
        <nav th:replace="fragments :: nav">
        </nav>

        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                        <div class="card text-center">
                            <h4 class="card-title">
                                <b th:text="${userPage.getName()}"></b>
                                <a th:if="${userPage == user}" href="/user/edit"><i class="material-icons">edit</i></a>
                            </h4>
                            <p class="card-body" th:text="${userPage.getDescription()}">
                            </p>
                        </div>
                </div>
                <div class="col-5">
                    <table th:replace="listing/table::table" id="listingTable" class="table">
                    </table>
                </div>
                <div class="col-5">
                    <table th:replace="reviews/table::table"></table>
                    <br />
                    <br />
                    <form th:replace="reviews/form::form"></form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/scripts::scripts">
        </div>
        <div th:replace="fragments/scripts::tableScripts">
        </div>
        <div>
                <script>
                        $(document).ready(function () {
                        $('#listingTable').DataTable();
                        $('#reviewTable').DataTable();
                        $('.dataTables_length').addClass('bs-select');
                        });
                    </script>
        </div>
    </body>
</html>