<head th:fragment="head">
    <meta charset="UTF-8" />
    <style>
    @media (min-width: 980px) { body { padding-top: 75px; } }
    </style>
    <title th:text="${title}">Garden Share</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>

    function rangeWeight() {
      var minEl, maxEl, min, max, tr, td, i;
      minEl = document.getElementById("minWeight");
      maxEl = document.getElementById("maxWeight");
      min = minEl.value;
      max = maxEl.value;
      table = document.getElementById("listingTable");
      tbody = document.getElementById("listingTableBody");
      tr = tbody.getElementsByTagName("tr");

      for (var i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          if (min >= max) {
            tr[i].style.display = "";
          } else {
            weight = parseInt(td.innerHTML);
            if (weight < min || weight > max) {
              tr[i].style.display = "none";
            } else {
              tr[i].style.display = "";
            }
          }
        }
      }

    }

    function search() {
      var input, select, minEl, maxEl, min, max, filter, selectFilter, table, tbody, tr, td, i;
      input = document.getElementById("listingSearch");
      select = document.getElementById("weightSelect");
      minEl = document.getElementById("minWeight");
      maxEl = document.getElementById("maxWeight");

      min = minEl.value;
      max = maxEl.value;
      filter = input.value.toUpperCase();
      selectFilter = select.value.toUpperCase();
      table = document.getElementById("listingTable");
      tbody = document.getElementById("listingTableBody");
      tr = tbody.getElementsByTagName("tr");

      for (var i = 0; i < tr.length; i++) {

        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          if (selectFilter == "BOTH") {
            tr[i].style.display = "";
          } else {
            if (td.innerHTML.toUpperCase().indexOf(selectFilter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
              continue;
            }
          }
        }

        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          if (min >= max) {
            tr[i].style.display = "";
          } else {
            weight = parseInt(td.innerHTML);
            if (weight < min || weight > max) {
              tr[i].style.display = "none";
              continue;
            } else {
              tr[i].style.display = "";
            }
          }
        }

        if (filter.length > 0) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }

      }

    }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
