<form th:fragment="form" method="POST" action="listing/new" class="form-inline">

    <input class="input form-control mb-2 mr-sm-2" name="type" placeholder="Fruit Type" />

    <input class="input form-control mb-2 mr-sm-2" name="weight" type="number" placeholder="Weight" step="0.1">
    <select class="input form-control custom-select mb-2 mr-sm-2" id="weightUnit" name="weightUnit" selected="lbs">
        <option>lbs</option>
        <option>kgs</option>
        <option>ounces</option>
        <option>cups</option>
    </select>
    <input class="input form-control mb-2 mr-sm-2" name="count" type="number" placeholder="Count">
    <input class="btn btn-success mb-3 mr-sm-2" type="submit" value="Create Listing" />
</form>
