<form th:fragment="form" method="POST" action="/listing/new">
    Type
    <input name="type" placeholder="Type" />
    Weight
    <input name="weight" type="number" placeholder="1" step="0.1">
    Weight Unit
    <select name="weightUnit" selected="lbs">
        <option>kgs</option>
        <option>lbs</option>
    </select>
    Count
    <input name="count" type="number" placeholder="1">
    Start time
    <input name="start" type="date">
    End time
    <input name="end" type="date">
    <input type="submit" />
</form>