<div th:fragment="scripts">
      <!-- JQuery -->
  <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="mdb.min.js"></script>
</div>

<div th:fragment="tableScripts">
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="datatables.min.js"></script>
</div>