.RoomList {
   height: 80vh;
   border-right: 1px solid rgba(165, 165, 165, 0.5);
   border-left: 1px solid rgba(165, 165, 165, 0.5);
   padding-bottom: 20px;
}

.sender {
   font-size: 1.5rem;
   display: inline-block;
   font-weight: 700;
   margin-bottom: 5px;
}

.rDate {
   padding-top: 0.5rem;
   float: right;
   font-size: 1 rem;
}

.chatPanel {
   border-top: 1px solid rgba(37, 37, 37, 0.1);
   border-bottom: 1px solid rgba(61, 61, 61, 0.1);
   padding: 1em;
   padding-bottom: 3em;
}

.chatPanel:hover {
   background-color: rgba(197, 197, 197, 0.1);
}

.btn-primary {
   background-color: #99ff7b;
}

.speech-bubble-right {
   position: relative;
   background: #b6eca0;
   border-radius: .4em;
   padding: 15px 20px 0px 20px;
}

.speech-bubble-right:after {
   content: '';
   position: absolute;
   right: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 20px solid transparent;
   border-left-color: #b6eca0;
   border-right: 0;
   border-bottom: 0;
   margin-top: -10px;
   margin-right: -20px;
}

.speech-bubble-left {
   position: relative;
   background: #b6eca0;
   border-radius: .4em;
   padding: 15px 20px 0px 20px;
}

.speech-bubble-left:after {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 20px solid transparent;
   border-right-color: #b6eca0;
   border-left: 0;
   border-bottom: 0;
   margin-top: -10px;
   margin-left: -20px;
}