<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <body>
        <nav th:fragments="nav" class="navbar bg-dark navbar-dark fixed-top navbar-expand-sm">
            <ul class="navbar-nav">
                <a class="navbar-brand" th:href="@{/}">Garden Share</a>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/message}"><i class="material-icons">chat</i></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item" th:if="${user} == null">
                    <a class="nav-link" href="/user" >Sign In</a>
                </li>
                <li class="nav-item dropdown" th:unless="${user} == null">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" th:text="${user.getName()}">
                    Username
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/user">My Profile</a>
                    <a class="dropdown-item" href="#">My Listings</a>
                    <a class="dropdown-item" href="#">My Reviews</a>
                    <a class="dropdown-item" href="#">My Conversations</a>
                    <div class="dropdown-divider text-"></div>
                    <a class="dropdown-item" href="/sign_out">Sign Out</a>
                  </div>
                </li>
                <li class="nav-item"><span class="nav-item text-dark">aa</span></li>
            </ul>
        </nav>


        <div>
            <script src="search.js"></script> 

        </div>
    </body>

</html>
