<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/includes :: head">
    </head>

    <body>
        <nav th:replace="fragments :: nav">
        </nav>
        <div class="container-fluid">

            <form th:replace="fragments/listing_form::form">
            </form>
            <br />

            <form th:replace="fragments/search_form::form">
            </form>

            <table id="listingTable" class="table">
                <thead>
                    <th scope="col">Listing</th>
                </thead>
                <tbody id="listingTableBody">
                    <tr th:each="listing, index: ${listings}">
                        <span th:replace="listing/each::listing"></span>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
