<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/includes :: head">
    </head>

    <body>
        <nav th:replace="fragments :: nav">
        </nav>
        <div class="container-fluid">

            <form th:replace="fragments/listing_form::form">
            </form>
            <br />

            <!--<form th:replace="fragments/search_form::form">
            </form>-->

            <table id="listingTable" class="table">
                <thead>
                    <tr>
                        <th class="th-sm">Type
                        </th>
                        <th class="th-sm">Weight
                        </th>
                        <th class="th-sm">Units
                        </th>
                        <th class="th-sm">Count
                        </th>
                        <th class="th-sm">Start Time
                        </th>
                        <th class="th-sm">End Time
                        </th>
                    </tr>
                </thead>
                <tbody id="listingTableBody">
                    <tr th:each="listing, index: ${listings}">
                        <span th:replace="listing/each::listing"></span>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/scripts::scripts">
        </div>
        <div th:replace="fragments/scripts::tableScripts">
        </div>
        <div>
            <script>
                $(document).ready(function () {
                $('#listingTable').DataTable();
                $('.dataTables_length').addClass('bs-select');
                });
            </script>
        </div>

    </body>

</html>
