<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/includes::head">
</head>

<body>
      <nav th:replace="fragments::nav">
      </nav>

      <div class="container">
            <div class="col-3 RoomList" style="padding: 0;">
                  <div>
                        <span th:replace="fragments/chatroom::room"></span>
                  </div>
            </div>
      </div>

      <div th:replace="fragments/scripts::scripts">
      </div>
</body>

</html>